# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Editor files
.vscode/
.idea/

# Logs and databases
*.log
db.sqlite3

# Python packages
dist/
build/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Secret files
.env
config.json
